@import "tailwindcss";
@import "../editor/index.css";

button {
  cursor: pointer;
}

.cm-gutters {
  background-color: transparent !important;
  border-right: none !important;
}

.cm-editor {
  min-height: 332px;
}

.cm-editor.cm-focused {
  outline: none !important;
}
