@import "tailwindcss";
@import "../editor/index.css";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/spline-sans-mono";
@import "@fontsource-variable/spline-sans-mono/wght-italic";

@theme {
  --default-font-family: "Inter Variable";
  --font-mono: "Spline Sans Mono Variable";
}

button {
  cursor: pointer;
}

.cm-gutters {
  background-color: white !important;
  border-right: none !important;
  padding-left: 8px !important;
}

.editor-page .cm-editor {
  min-height: 332px;
}

.cm-editor.cm-focused {
  outline: none !important;
}
