@reference "tailwindcss";

.cm-editor {
  width: 100%;
  height: 100%;

  --output-border-color: #19130029;
  --output-content-color: #21201c;

  --button-border-color: #bcbbb5;
  --button-background-color: #f1f0ef;
  --button-background-color-hover: #e9e8e6;
  --button-background-color-active: #e2e1de;
  --disabled-button-background-color: #bcbbb5;
  --disabled-button-border-color: #82827c;

  .cm-boolean-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.125rem;
    vertical-align: text-top;

    > input {
      width: 1rem;
      height: 1rem;
    }
  }

  .cm-radio-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: text-top;

    > input {
      width: 1rem;
      height: 1rem;
    }
  }

  .cm-number-input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: text-top;

    &.cm-number-inc {
      margin-left: 0.25rem;
      > button {
        /*width: 15px;*/
        /*height: 15px;*/
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z' fill='currentColor' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    &.cm-number-dec {
      margin-right: 0.25rem;
      > button {
        /*width: 15px;*/
        /*height: 15px;*/
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.25 7.5C2.25 7.22386 2.47386 7 2.75 7H12.25C12.5261 7 12.75 7.22386 12.75 7.5C12.75 7.77614 12.5261 8 12.25 8H2.75C2.47386 8 2.25 7.77614 2.25 7.5Z' fill='currentColor' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    > button {
      box-sizing: content-box;
      width: 15px;
      height: 15px;
      border: 1px solid var(--button-border-color);
      border-radius: 0.125rem;
      background-color: var(--button-background-color);
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &[data-disabled] {
        background-color: var(--disabled-button-background-color);
        border-color: var(--disabled-button-border-color);
        cursor: not-allowed;
      }

      &:not([data-disabled]):hover {
        background-color: var(--button-background-color-hover);
      }

      &:not([data-disabled]):active {
        background-color: var(--button-background-color-active);
      }
    }
  }

  .cm-content,
  .cm-lineNumbers,
  .cm-tooltip.cm-tooltip-autocomplete > ul {
    @apply font-mono;
  }

  .cm-tooltip {
    background: #f9f9f8;
    border-color: #dad9d6;
    border-radius: 0.25rem;
  }

  .cm-tooltip.cm-completionInfo {
    @apply font-sans;

    &.cm-completionInfo-right {
      transform: translateX(0.25rem);
    }
  }

  .cm-line {
    .cm-output-line-prefix {
      opacity: 0.5;
      font-weight: bold;
    }

    .cm-output-line-content > * {
      color: var(--output-content-color);
    }
  }

  .cm-output-line:first-child,
  :not(.cm-output-line) + .cm-output-line {
    /* The first of a contiguous sequence. */
    /*padding-top: 1px;*/
    /*margin-top: -1px;*/
    border-top: 1px dashed var(--output-border-color);
  }

  .cm-output-line:last-child,
  .cm-output-line:not(:last-child):not(:has(+ .cm-output-line)) {
    /* The last element of a contiguous sequence. */
    /*padding-bottom: 1px;*/
    /*margin-bottom: -1px;*/
    border-bottom: 1px dashed var(--output-border-color);
  }

  /* Set the background pattern for output lines. */
  .cm-output-line {
    line-height: 1.25;
    border-left: 1px dashed var(--output-border-color);
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%237d7d7d' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");*/
  }

  .cm-output-line.cm-compact-line {
    line-height: 1;
  }

  .cm-debug-mark {
    &.red {
      background-color: #fbbf2440;
    }
    &.green {
      background-color: #009a5753;
    }
    &.blue {
      background-color: #0088f653;
    }
  }

  .cm-blockIndicators {
    padding-left: 0.25rem;

    --gap-between-blocks: 2px;
  }

  .cm-gutterElement .cm-block-indicator {
    width: 0.25rem;
    height: 100%;

    &.output {
      background: #72aa006e;
    }

    &.source {
      background: #1f180021;
    }

    &.error {
      background: #df2600d1;
    }

    &.head {
      height: calc(100% - var(--gap-between-blocks));
      /*border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;*/

      &:not(.tail) {
        transform: translate(0, var(--gap-between-blocks));
      }
    }

    &.tail {
      height: calc(100% - var(--gap-between-blocks));
      /*border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;*/
    }
  }

  /* We can't see background color, which is conflict with selection background color.
   * So we use svg pattern to simulate the background color.
   */
  .cm-output-line.cm-error-line {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4' %3E%3Cpath fill='%23ff0000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }

  .cm-output-line.cm-error-line span {
    color: #c83f30 !important;
  }

  .cm-doc-tag span {
    color: #cf222e;
  }

  .cm-comment-link {
    color: #6a737d;
    text-decoration: underline;
    cursor: text;
  }

  .cm-comment-link.cmd-clickable {
    cursor: pointer;
  }

  .cm-comment-link.cmd-clickable:hover {
    color: #0550ae;
  }
}
